<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=SELDB;Initial Catalog=steppes2dev;User ID=SteppesCRM;Password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>